*{ 
	box-sizing: border-box;
}
.container{
	background: #1B2473;
	width: 100%;
}
.form{
	margin-left: auto;
    margin-right: auto;
	width: 320px;
	height: 768px;
	padding: 30px;
	padding-top: 10px;

	background: #FFFFFF;
	box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}
.form_input{
	width: 100%;
}
.form__enter{
	position: relative;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size:30px;
	line-height: 30px;
	color: #787878;

}
.form__input-text{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	padding-left:5px ;
	color: #787878;
}
.form__input-properties{
	margin: 0 auto;
	height: 30px;
	width: 260px;

	background: #FFFFFF;
	border: 2px solid #787878;
	box-sizing: border-box;
	border-radius: 5px;
}
.form__checkbox{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: #787878;
}
.form__button{
	position: relative;
	width: 100%;
}
.form__button-rectangle{
	position: relative;
	margin-top: 30px;
	width: 100px;
	height: 30px;
	background: #1A226B;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	left: 30%





