.container{
	position: relative;
	width: 1440px;
	height: 737px;
	background: #1B2473;
}
.form{
	position: absolute;
	width: 600px;
	height: 412px;
	left: 412px;
	top: 82px;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.form__enter{
	position: absolute;
	width: 115px;
	height: 50px;
	left: 242px;
	top: 26px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 50px;
	color: #787878;

}
.form__input{
	position: absolute;
	width: 509px;
	height: 49px;
	left: 45px;
	top: 112px;

}
.form__input-text{
	position: absolute;
	width: 40px;
	height: 16px;
	left: 8px;
	top: -19px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	color: #787878;
}
.form__input-properties{
	position: absolute;
	width: 509px;
	height: 49px;
	left: 0px;
	top: 0px;

	background: #FFFFFF;
	border: 2px solid #787878;
	box-sizing: border-box;
	border-radius: 10px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 36px;
	color: #787878;
	}
.form__input.form__pass{
	top: 193px;
}
.form__checkbox {
	position: absolute;
	width: 312px;
	height: 24px;
	left: 45px;
	top: 258px;
}
.form__checkbox-text{
	position: absolute;
	width: 278px;
	height: 16px;
	left: 34px;
	top: 4px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #787878;
}
.form__checkbox-rectangle{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;

	background: #FFFFFF;
	border: 2px solid #787878;
	box-sizing: border-box;
	border-radius: 7px;
}
.form__button{
	position: absolute;
	width: 180px;
	height: 52px;
	left: 218px;
	top: 334px;
}

.form__button-rectangle{
	position: absolute;
	width: 180px;
	height: 52px;
	left: 0px;
	top: 0px;

	background: #1A226B;
	border-radius: 10px;
}
.form__button-text{
	position: absolute;
	width: 69px;
	height: 16px;
	left: 55px;
	top: 18px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 16px;
	color: #FFFFFF;
}
.form__input::placeholder {
    color: #ccc;
}

